::selection{
    background-color: black;
    color: white;
}

@media screen and (min-width: 800px) {
    .panel{
        width: 350px;
        height: 500px;
    }
}
@media screen and (max-width:800px){
    .panel{
        width: 80%;
        height: 400px;
    }
}

